<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>We Can Do This All Day</title>

  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Data Science & Web development</h2>
            <p class="tm-hero-subtitle">
              We Can Do This All Day
              <br>- Kevin & Kim !
            </p>
        </div>        
      </div>     
    </section>
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title"> Data Science & Web development</h2>
            <p class="tm-hero-subtitle">
              We Can Do This All Day
              <br>- Kevin & Kim !
            </p>
        </div>        
      </div>     
    </section>


  </body>
</html>